{
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    {
      "useTabs": false,
      "printWidth": 80,
      "tabWidth": 2,
      "singleQuote": true,
      "trailingComma": "none",
      "jsxBracketSameLine": false,
      "parser": "babylon",
      "noSemi": false,
      "rcVerbose": true
    }
  },
  "plugins": [
    "prettier"
  ]
}
